Scrapy==0.24.4
pybloom==1.1
requests
beautifulsoup
Twisted
w3lib
lxml
six
cssselect
pyopenssl
cryptography
queuelib
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
